* {
   box-sizing: border-box;
}

div {
   width: 300px;
   height: 500px;
   background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+13/task1/nature.jpeg");
   background-position: center;
   font-size: 32px;
   font-weight: 700;
   margin-top: 32px;
   text-align: center;
}
.hill {
   background-image: linear-gradient(45deg, #000000, #ffffff);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}