* {
   box-sizing: border-box;
}

div {
   width: 300px;
   height: 500px;
   background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+13/task1/nature.jpeg");
   background-position: center;
   font-size: 32px;
   font-weight: 700;
   margin-top: 32px;
   text-align: center;
   background: linear-gradient(45deg, #0B2349 33%, #f7f8fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}